/* Color definition for white text */
@define-color active #ffffff;

* {
    border: none;
    border-radius: 0;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    color: @active;
}

window#waybar {
    background: rgba(12, 9, 10, 0.90);
}

/* Ensure all module groups are transparent */
.modules-left, 
.modules-right, 
.modules-center {
}

#tags button {
    padding: 0 8px;
    color: @active;
}

#tags button.focused {
    border-bottom: 2px solid @active;
}

#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#temperature,
#tray {
    padding: 0 10px;
    background: transparent;
}

#pulseaudio.muted {
    color: #ff5555;
}
